ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-weight: bold;
}

p {
  color: red;
  text-align: center;
  font-weight: bold;
}

.note {
  font-size: 20px;
  text-align: center;
}

#id-selector-demo {
  color: green;
  text-align: center;
  font-weight: bold;
}

li[value="4"] {
  color: blue;
  text-align: center;
  font-weight: bold;
}



/* Write your CSS below, don't change the rules above. */
