<%- include("partials/header.ejs") %>
    <div class="container-fluid d-grid gap-3 align-items-center bg-light">
        <div class="bd-example mt-3">
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Address</h5>
                    <p class="card-text">Manoel Gomes Ferreira, 192<br>Campinas - São Paulo<br>Zip-code: 13056-012</p>
                    <a href="https://maps.app.goo.gl/98CgKjvj5nL1ZcdEA">Maps</a>
                </div>
            </div>

            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">E-mail</h5>
                    <p class="card-text">william.ribeiro.moreno@gmail.com</p>
                    <a href="mailto:william.ribeiro.moreno@gmail.com"
                        class="btn btn-dark btn-padding-10 rounded-pill px-3">Send e-mail</a>
                </div>
            </div>

            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Whatsapp</h5>
                    <p class="card-text">+55 19 98862-4861</p>
                    <a href="https://wa.me/+5519988624861" class="btn btn-dark btn-padding-10 rounded-pill px-3">Send
                        message</a>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>